[submodule "myplug/powerlevel10k"]
	path = archieve/myplug/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "fast-syntax-highlighting"]
	path = archieve/myplug/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
	shallow = true
[submodule "zsh-history-substring-search"]
	path = archieve/myplug/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
	shallow = true
[submodule "git-fuzzy"]
	path = archieve/myplug/git-fuzzy
	url = https://github.com/bigH/git-fuzzy
	shallow = true
[submodule "forgit"]
	path = archieve/myplug/forgit
	url = https://github.com/wfxr/forgit
	shallow = true
[submodule "alias-tips"]
	path = archieve/myplug/alias-tips
	url = https://github.com/djui/alias-tips
	shallow = true
[submodule "zsh-interactive-cd"]
	path = archieve/myplug/zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd
	shallow = true
[submodule "fzf-tab"]
	path = archieve/myplug/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	shallow = true
[submodule "zsh-autosuggestions"]
	path = archieve/myplug/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "myplug/myplug/zsh-completions"]
	path = archieve/myplug/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
	shallow = true
[submodule "myplug/zsh-vi-mode"]
	path = archieve/myplug/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
	shallow = true
[submodule "myplug/fzf-fasd"]
	path = archieve/myplug/fzf-fasd
	url = https://github.com/wookayin/fzf-fasd
